.git/
.gitignore
.idea/
.vscode/
*.swp
*.swo

logs/
*.log

db-dump/
crates_downloader/db-dump/
crates_downloader/migrations/db-dump/
crates_downloader/migrations/logs/
target/

Dockerfile*
docker-compose*.yml
.dockerignore
*.md
docs/
*.csv
